.apexcharts-inner{
    transform:translate(99, -30) !important
  }
  .mb-5 {
    margin-bottom: 0px!important;
}
.select-mast{
  -webkit-appearance: none;
    background: #1d1d1d;
    color: white;
    border: 0px;
}