<app-header></app-header>
<style>
  .card-body {
    padding: 2rem 2rem;
}
 .green {
    color:#00FF7F!important;
  }

  .red {
    color: #FF0000;
  }
  .nify-row{
  position: fixed;
      top: 80px;
      padding-bottom: 15px;
    background: #FFF !important;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
}
.mt-4 {
    margin-top: 7.5rem !important;
}
@media (max-width: 991px) {
  .mt-4 {
    margin-top: 0.5rem !important;
}
}
  @media (min-width: 992px) {
  .mt-4 {
    margin-top: 7.9rem !important;
}
  }
  .text-right {
    text-align: right;
  }
</style>

   
    <main>
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- Title Start -->
            <div >
              <div class="row g-2 nify-row d-flex mobileview">
                <div class="col-12 col-md-4 col-lg-4" *ngFor="let symbol of GetHeaderSymbol">
                  <div class="card hover-scale-up cursor-pointer">
                    <div class="h-100 row g-0 card-body align-items-center py-3">
                     
                      <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                          <div class="col-4 col-md-5 ">
                            <div class="d-flex align-items-center lh-1-25" style="color:#000000!important; font-weight:600;" >{{symbol.identifier}}</div>
                            
                          </div>
                          <div class="col-4 col-md-2">
                            <div class="d-flex align-items-center lh-1-25 text-success" *ngIf="symbol.priceChange>=0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" _ngcontent-serverapp-c54="" class="acorn-icons acorn-icons-arrow-top me-1"><path d="M3 9 9.64645 2.35355C9.84171 2.15829 10.1583 2.15829 10.3536 2.35355L17 9M10 18 10 3"></path></svg>
                              <span class="text-medium">{{symbol.priceChange}}</span>
                            </div>
                            <div class="d-flex align-items-center lh-1-25 text-danger" *ngIf="symbol.priceChange<0">
                              
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="acorn-icons acorn-icons-arrow-bottom me-1"><path d="M17 11 10.3536 17.6464C10.1583 17.8417 9.84171 17.8417 9.64645 17.6464L3 11M10 2 10 17"></path></svg>
                              <span class="text-medium">{{symbol.priceChange}}</span>
                            </div>
                          </div>
                          <div class="col-4 col-md-5 text-right" *ngIf="symbol.priceChange>=0">
                            <div class="cta-2 text_value green">{{symbol.lastTradePrice}}</div>
                          </div>
                          <div class="col-4 col-md-5 text-right" *ngIf="symbol.priceChange<0">
                            <div class="cta-2 text_value1 red">{{symbol.lastTradePrice}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row g-2 desktopview">
                <div class="col-12 col-md-4 col-lg-4" *ngFor="let symbol of GetHeaderSymbol">
                  <div class="card hover-scale-up cursor-pointer">
                    <div class="h-100 row g-0 card-body align-items-center py-3">
                     
                      <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                          <div class="col-4 col-md-5 ">
                            <div class="d-flex align-items-center lh-1-25" style="color:#000000!important; font-weight:600;" >{{symbol.identifier}}</div>
                            
                          </div>
                          <div class="col-4 col-md-2">
                            <div class="d-flex align-items-center lh-1-25 text-success" *ngIf="symbol.priceChange>=0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" _ngcontent-serverapp-c54="" class="acorn-icons acorn-icons-arrow-top me-1"><path d="M3 9 9.64645 2.35355C9.84171 2.15829 10.1583 2.15829 10.3536 2.35355L17 9M10 18 10 3"></path></svg>
                              <span class="text-medium">{{symbol.priceChange}}</span>
                            </div>
                            <div class="d-flex align-items-center lh-1-25 text-danger" *ngIf="symbol.priceChange<0">
                              
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="acorn-icons acorn-icons-arrow-bottom me-1"><path d="M17 11 10.3536 17.6464C10.1583 17.8417 9.84171 17.8417 9.64645 17.6464L3 11M10 2 10 17"></path></svg>
                              <span class="text-medium">{{symbol.priceChange}}</span>
                            </div>
                          </div>
                          <div class="col-4 col-md-5 text-right" *ngIf="symbol.priceChange>=0">
                            <div class="cta-2 text_value green">{{symbol.lastTradePrice}}</div>
                          </div>
                          <div class="col-4 col-md-5 text-right" *ngIf="symbol.priceChange<0">
                            <div class="cta-2 text_value1 red">{{symbol.lastTradePrice}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Title End -->
            <div class="row g-2 mt-4">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <section class="scroll-section" id="title">
                  <div class="page-title-container">
                    <h1 class="mb-0 pb-0 display-4">Change Password</h1>
                    
                  </div>
                </section>
                <div class="">
                  <form [formGroup]="ProfileForm" (ngSubmit)="Changepassword()">
                        <div class="card card-body no-shadow border mt-3 ">
                            <div class="mb-3 form-group tooltip-end-top">
                                
                                <input type="password" class="form-control"  formControlName="Currpassword" placeholder="Current Password" name="Name" />
                            </div>
                            <div class="mb-3 form-group tooltip-end-top">
                                
                                <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="New Password" name="Mobile" />
                            </div>
                            <div class="mb-3 form-group tooltip-end-top">
                                
                                <input type="password" class="form-control" id="ConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password" name="Email" />
                            </div>
                            
                            <button type="submit" class="btn btn-sm btn-icon btn-icon-start btn-outline-primary ">Change Password</button>
                        </div>
                      </form>
              </div>
              </div>
              <div class="col-lg-6"></div>
            </div>
        </div>
      </div>
      </div>
    </main>
